# =========
# OS / IDE
# =========
.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/

# =========
# Python
# =========
__pycache__/
*.py[cod]
*.pyd
*.so
*.dll
*.exe
*.egg-info/
dist/
build/
pip-wheel-metadata/
*.log

# Virtual envs
.venv/
venv/
ENV/
env/

# =========
# Jupyter
# =========
.ipynb_checkpoints/

# =========
# Data (don't push raw datasets)
# =========
data/*.csv
data/*.zip
data/*.parquet

# =========
# Outputs / figures
# =========
outputs/
report_figs/
figs/

# =========
# Artifacts (MODEL)
# =========
# Ignore everything in artifacts...
app/artifacts/*
!app/artifacts/model_lgbm.joblib
!app/artifacts/model_xgb.joblib
!app/artifacts/best_model_name.joblib


# =========
# Misc
# =========
*.tmp
*.bak

